

// font path
$font_path: "css/fonts/";


// include several normal styles
@import "mixins", "colors", "fonts", "base";


// some editor-specific stuff we don't want anywhere else
body {
	background-color: white;
	margin: 0 25px;
}

h1, h2, h3, h4, h5, h6 {
	@include font-thin;
	line-height: 1.3em;
	margin: 0;
	padding: 10px 0;
}

p {
	line-height: 1.4em;
	margin: 0;
	padding: 10px 0;
}

hr {
	border: 0;
	border-bottom: 1px solid lighten( $blue, 25% );
	padding: 0;
	margin: 15px 0;
}

